/* Brand Colors and Fonts */
a {
  font-size: 18px;
  color: #daa520 !important;
}

a:link {
  color: #999999;
  text-decoration: none;
}

a:visited {
  color: #999999;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  margin: 0px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
